*{
font-family: Fira Sans;
    margin: 0;
    padding: 0;
    }

    body{
        background: rgb(232, 238, 236);

    }

.upper{
     min-height: 100px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}

.title{
    color: rgb(14, 14, 14);
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    text-align: left;
    margin-left: 160px;
}

.btnS{
    color: rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    text-decoration: none;
    margin-right: 160px ;
   }

.btnS:hover{
    background-color: rgba(5, 55, 43, 0.936);
    color:white;
}

.banner{
    display: flex;
    background-color: rgb(198, 228, 214);
    min-height: 560px; 
    margin: 0px 160px 80px;
    border-radius: 24px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.bantext{
    padding-left: 60PX;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 60px;
    width: 40%;
}

#t1{
color: rgba(14, 14, 14, 0.5);
font-size: 24px;
font-weight: 500;
margin-bottom: 16px;
}

#t2{
color: rgb(14, 14, 14);
font-size: 56px;
font-weight: 700;
text-align: left;
margin-bottom: 24px;
}

#t3{
    width: 270px ;
    color: rgb(255, 255, 255);
    text-align: center;
    padding:17px 34px;
    font-size: 18px;
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    

}


.bannerPic{
padding-top: 50px;
padding-bottom: 50px;
padding-right: 60px;
padding-left: 60px;
} 

/* vis start */

.art1{
    margin: 0px 160px 32px;
}

#title2{
    color: rgb(14, 14, 14);
    font-size: 40px;
    margin-bottom: 24px;
}

#content2{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
}

.vis{       
    display: flex;
    margin: 0px 160px;
    margin-bottom: 48px;
    gap: 24px;
    justify-content: space-between;
    
    
}

.vision {
    background-color: #000000;
    border-radius: 16px;
    text-align: left;
    padding: 32px;
    max-width: 410px;
}

/* box bg col */
#vis1 {
    border-radius: 16px;
    background-color: rgba(84, 144, 245, 0.2);
}
#vis2 {
    border-radius: 16px;
background-color: rgb(198, 228, 214);
}
#vis3 {
    border-radius: 16px;
background-color: rgb(247, 235, 207); 
}

/* inside */
.vision img {
    width: 50px;
    margin-bottom: 25px;
}

.vision h4 {
    color: #333;
    font-size: 20px;
    margin-bottom: 12px;
}

.vision p {
    font-size: 16px;
    margin-bottom: 48px;
}

.btnVis {
    display: inline-block;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    padding: 11px 20px;
    border-radius: 8px;
    font-weight: bold;
    
    
}


/* Learn more */
#vis1 .btnVis {
    border-radius: 8px;
background-color: rgb(84, 144, 245);
}

#vis2 .btnVis {
    border-radius: 8px;
background-color: rgb(9, 161, 92);
}

#vis3 .btnVis {
    border-radius: 8px;
background-color: rgb(255, 194, 57);
}


#vis1 .btnVis:hover {
    color: rgb(84, 144, 245);
    background-color: #3e0202;
}
#vis2 .btnVis:hover {
    color: rgb(9, 161, 92);
    background-color: #3e0202;
}
#vis3 .btnVis:hover {
    color: rgb(255, 194, 57);
    background-color: #3e0202;
}

/* challenge */
 
.quote{
    margin: 0px 160px;
    border-radius: 16px;
    margin-bottom: 80px;
    background-color: white;
    background-image: url(assets/quote-bg.png);
    background-position: 24px 19.5px;
    background-repeat: no-repeat;
    padding: 48px 24px;
 }

.quote h2{
 font-size: 20px;
 font-weight: 600;
 color:rgba(14, 14, 14, 0.8);
 margin-bottom: 4px;
 line-height: 24px;
}

.quote p{
    color: rgba(14, 14, 14, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

#q{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

/* recent news */

.news{
    margin: 0px 160px;
    padding: 48px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    gap: 32px;
    border-radius: 24px;
    margin-bottom: 24px;
}
.news h2{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    font-size: 32px;
}

.nInformations img{
    margin-bottom: 12px;
    min-height: 40px;
}

.news p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 45px;
}

.news a{
    background-color: rgb(0, 106, 80);
    text-decoration: none;
    color: white;
    border-radius: 8px;
    padding: 13px 26px;
}

.news a:hover{
    color: rgb(0, 106, 80);
    background-color: rgb(245, 129, 129);
}

.nPic img{
    border-radius: 24px;
}

.Date_Time{
    font-size: 16px;
    font-weight: 400;
    display: flex;
    justify-content:flex-start;
    color: rgba(14, 14, 14, 0.7);
    margin-bottom: 12px;
    gap: 12px;
}

/* Donation */

.donation{
    margin: 80px 160px 0px;
}

.donation p{
    font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
text-align: center;
color: rgba(14, 14, 14, 0.7);
margin-bottom:32px ;
}

.donation h1{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 24px;  
}

.amount{
    display: flex;
    justify-content: center;
    margin-bottom: 32px ;
    gap: 24px;
}

.amount .TK200{
    background-color: rgb(198, 228, 214);
}

.amount button{
    font-size: 40px;
font-weight: 700;
border-radius: 16px;
background-color: white;
text-align: center;
border: none;
padding: 40px;
}

.amount button:hover{
    background-color: rgb(203, 230, 204);
    cursor:grabbing;
}

.otherAmount{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
}

.otherAmount input[type=text] {
    text-align: center;
    height: 64px;
    width: 1032px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    border: none;
}

.otherAmount input[type=submit] {
    background-color: rgb(0, 106, 80);
    height: 56px;
    padding: 13px 26px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 80px;
    border: none;
    border-radius: 8px;
    color: white;
}

.otherAmount input[type=submit]:hover {
    color: rgb(0, 106, 80);
    cursor:grabbing;
    background-color: rgb(54, 2, 2);
}









